<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="auth-form">
                <h3>Login</h3>
                <form [formGroup]="loginForm"
                      (ngSubmit)="login()">

                    <div class="form-group">
                        <label for="username">
                            Username
                            <span class="text-danger">*</span>
                        </label>

                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username"
                               formControlName="username">

                        <small *ngIf="username.touched && username.errors?.required"
                               class="text-danger">Username is required
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="password">
                            Password
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Password"
                               formControlName="password">

                        <small *ngIf="password.touched && password.errors?.required"
                               class="text-danger">Password is required
                        </small>
                    </div>

                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="!loginForm.valid">Login
                    </button>
                    <a routerLink="/register">
                        Register
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

