<div class="sidebar-menu">
    <!-- Sidebar content with the search box -->
    <div class="sidebar-content">
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <!-- Sidebar links and titles -->
    <h5 class="sidebar-title">Sections</h5>
    <div class="sidebar-divider"></div>
    <a routerLink="/" class="sidebar-link active">Home</a>


    <div class="sidebar-content">
    <button class="btn" (click)="logout()" title="Logout">
        <i class="fa fa-sign-out-alt"></i>
    </button>
    </div>
</div>
