<div class="page-wrapper with-sidebar with-navbar with-transitions" data-sidebar-type="overlayed-sm-and-down">
    <div class="sidebar-overlay" (click)="toggleSidebar()"></div>

    <app-navbar class="navbar"></app-navbar>
    <app-sidebar class="sidebar"></app-sidebar>

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col lg 9">
                    <div class="content">
                        <h1 class="content-title">Home</h1>
                    </div>
                    <div class="content">
                        <h2 class="content-title">Text example</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="content">
                            <h2 class="content-title">Code example</h2>
                    </div>
                    <div class="card p-0">
                        <div class="content">
                            <p class="m-0">This is a code example</p>
                        </div>
                        <div class="code-container">
                            <pre class="is-card m-0"><code class="javascript" [highlight]="code" [lineNumbers]="true"></code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



