<div class="container-fluid h-100">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="auth-form">
                <h3>Register</h3>
                <form [formGroup]="registerForm"
                      (ngSubmit)="register()">

                    <div class="form-group">
                        <label for="username">
                            Username
                            <span class="text-danger">*</span>
                        </label>

                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username"
                               formControlName="username">

                        <small *ngIf="username.touched && username.errors?.required"
                               class="text-danger">Username is required
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="email">
                            Email
                            <span class="text-danger">*</span>
                        </label>

                        <input type="email"
                               class="form-control"
                               id="email"
                               placeholder="Email"
                               formControlName="email">

                        <small *ngIf="email.touched && email.errors?.required"
                               class="text-danger">Email is required
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="password">
                            Password
                            <span class="text-danger">*</span>
                        </label>

                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Password"
                               formControlName="password">

                        <small *ngIf="password.touched && password.errors?.required"
                               class="text-danger">Passworrd is required
                        </small>
                    </div>

                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="!registerForm.valid">Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

